@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <table>
        <tr>
            <th>Mandag</th>
            <th>Tirsdag</th>
            <th>Onsdag</th>
            <th>Torsdag</th>
            <th>Fredag</th>
        </tr>

        <tr>
            <td>Dag</td>
            <td>Varm ret</td>
            <td>Kold ret</td>
        </tr>
        
        <tr>
            <td>Smørebrød</td>
        </tr>

    </table>
</div>
